{
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "extends": [
      "prettier-standard"
    ],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "rules": {
      "no-use-before-define": "off",
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto"
        }
      ],
      "import/no-anonymous-default-export": [
        "error",
        {
          "allowArrowFunction": true,
          "allowAnonymousFunction": true
        }
      ]
    }
  }
  